doctype
html
  block head
    include ../common/head
    block title
      title default title
  body
    block content
    block foot
      include ../common/footer
    block script
script(src='./js/main.min.js')